<style>
    /***********/
    .navbar{
        background-color:#e9e9e9!important;
    }
    </style>
 

    <section id="about" style="padding-top: 150px"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-info d-flex justify-content-center align-items-center flex-column text-center "id="aboutProgress">
                        <div class="bg-about">
                            <h2 class="pt-5 fw-bolder">About Us</h2>
                        </div>
                        <div class="about-line"></div>
                        <p class=" text-muted py-5">Vestibulum ante ipsum primis in faucibus orci. Morbi tincidunt urna
                            imperdiet tincidunt <br>
                            rhoncus. Sed mollis ligula non massa aliquam faucibus.</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-xs-12 " id="aboutProgress">
                    <p class="text-muted">
                        We are the Future Advertising Company, an independent creative agency established in 2013 in Cairo.
                        Our problem-solving skills, combined with our creativity, can become an incredibly powerful offering.
                        A method that can make a difference to our customers and consumers.
                    </p>
                    <p class=" text-muted">
                        Brand Identity Design – Designing & Printing Materials – Logo Designs – Company Profiles – 
                        Packing Design – Uniform - Indoor Printings – Outdoor Printings - 
                        Fit-out for Retail We believe that Branding is what gives the advertising world color and its absence would create a white
                        dull advertising world. The most powerful trademarks in the world today have highly desirable branding that can engage and excite
                        an audience by its very appearance. A well designed branding campaign is a great way to compliment a product or service offered.
                    </p>
                    <p class=" text-muted">
                        Roadshows – Malls activations – sports events activations - Events Concept and Design – Project Management – Fabrication – 
                        Graphic Production – Install and Dismantle – On-site Supervision…
                    </p>
                </div>
                <div class="col-md-5 col-xs-12 ">
                    <div class="prog-details d-flex">
                        <p>Branding</p>
                        <p class="perc text-muted">80%</p>
                    </div>

                    <div class="progress">

                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <div class="prog-details d-flex flex-row">
                        <p class=" w">Activation</p>
                        <p class="perc1 text-muted">95%</p>
                    </div>

                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <div class="prog-details d-flex">
                        <p>Graphic</p>
                        <p class="perc2 text-muted">85%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <div class="prog-details d-flex">
                        <p>Diplays</p>
                        <p class="perc3 text-muted">70%</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div>

    </section>