    <section id="contact"style="padding-top: 150px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-info d-flex justify-content-center align-items-center flex-column text-center">
                        <div class="bg-contact">
                            <h2 class="pt-5 fw-bolder">Get In Touch</h2>
                        </div>
                        <div class="about-line"></div>
                        <p class=" text-muted py-5 fw-bold">future Adventures 
#high_quality_low_price_fast_service
 <br>
                            #we_add_more....... 💪🇪🇬..</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 add-con">
                    <h3>
                        Get answers and advices from <br> professional consultants.
                    </h3>
                    <br>
                    <br>

                    <table class="address">
                        <tr>
                            <th>
                                <i class="far fa-map px-3"></i>
                            </th>
                            <th>
                                <h4>Address</h4>
                                <p class="text-muted">نموذج 51 - الشطر 3 - المعادي - القاهرة
                             </p>
                            </th>
                        </tr>
                    </table>
                    <hr class="contact-hr">
                    <table class="phone">
                        <tr>
                            <th>
                                <i class="fas fa-mobile-alt px-4"></i>
                            </th>
                            <th>
                                <h4>
                                    Phone</h4>
                                <p class="text-muted">0112 2244269 / 01148975048</p>
                            </th>
                        </tr>
                    </table>
                    <hr class="contact-hr">
                    <table class="say">
                        <tr>
                            <th>
                                <i class="far fa-envelope px-3"></i>
                            </th>
                            <th>
                                <h4>
                                    Say Hello</h4>
                                <a href="#" class="email-protected"><p class="">futureadvertising560@gmail.com</p></a>
                            </th>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control my-4" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control my-4" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control my-4" placeholder="Phone">
                    </div>
                    <textarea class="form-control my-4 my-area" placeholder="Message"></textarea>
                    <button class="btn py-3 my-4"><i class="fas fa-paper-plane text-white px-3"></i>Send
                        Message</button>
                </div>
            </div>
        </div>
    </section>