@model Category
@{
    ViewData["Title"] = "Details";
    
}

<h1>Details</h1>
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(m => m.Name)</div>
        <div class="col-md-10">@Html.DisplayFor(m => m.Name)</div>
    </div>
@*    <div class="row">
        <div class="col-md-2">@Html.DisplayNameFor(m => m.EnrollDate)</div>
        <div class="col-md-10">@Html.DisplayFor(m => m.EnrollDate)</div>
    </div> *@

  <br />
  <br />

     <a asp-action="Index" class="btn btn-light">Return to all Categories Page</a>
</div>
